{% extends 'base.html' %}
{% load humanize %}
{% block content %}

{% comment %} <div class="containerz">
    <img class="card-img-top" src="{{cars.car_image}}"alt="">
    <div class="top-left">
<form method="POST" action="" enctype="multipart/form-data">

    {% csrf_token %}
    {{form.as_p}}
    
    <button onclick="myFunction()" type="submit" class="btn btn-primary">confirm</button>

    
</form>
</div>
<div class="top-right">
    <div class="card" style="width: 18rem;">
        <div class="card-header">
            {{cars.car_brand}} {{cars.car_model}}
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Seats:{{cars.size}}</li>
          <li class="list-group-item">Year: {{cars.year}}</li>
          <li class="list-group-item">Price: {{cars.price}}</li>
        </ul>
      </div>
      </div>
</div> {% endcomment %}


    
    


<div class="container">
    <div class="row">

        <div class="col-lg-8 col-md-12 m-2">
            <img class="card-img-top sellImage" src="{{cars.car_image}}"alt="car image">
        </div>

        <div class="col-lg-3 col-md-12 m-2">
            <div class="card text-center" style="width: 18rem;">
                <div class="card-header">
                    {{cars.car_brand}} {{cars.car_model}}
                </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">Seats:{{cars.size}}</li>
                      <li class="list-group-item">Year: {{cars.year}}</li>
                      <li class="list-group-item">Price: {{cars.price|intcomma}}$</li>
                    </ul>
            </div>
        </div>
        
            <div class="col-lg-12 p-3" style=" background:grey;">
                <div class="p-2">
                        <hr>
                        <h4>Personal info</h4>
                        <hr>
                    <form style="width: 100%;" method="POST" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                    {% comment %} <div class="col-md-4"> {% endcomment %}

                        <div class="form-group">
                            <h6>First name:</h6>
                            {{ form.first_name }}
                        </div>
                        <div class="form-group">
                            <h6>Last name:</h6>
                            {{ form.last_name }}
                        </div>
                        <div class="form-group">
                            <h6>Phone:</h6>
                            {{ form.phone }}
                        </div>
                        <div class="form-group">
                            <h6>Email:</h6>
                            {{ form.email }}
                        </div>
                        <div class="form-group">
                            <h6>Address:</h6>
                            {{ form.address }}
                        </div>
                        <div class="form-group">
                            <h6>City:</h6>
                            {{ form.city }}
                        </div>
                        <div class="form-group">
                            <h6>Country:</h6>
                            {{ form.country }}
                        </div>

                        <div class="p-2 text-center">
                            <button onclick="myFunction()" type="submit" class="btn btn-light">confirm</button>
                        </div>
                    </div>
        
                    </form>
            </div> 
            </div>
            
        </div>
    </div>
  </div>




{% endblock content %}