{% extends 'base.html' %}
{% block content %}

<div class="containerz">
    <img class="card-img-top" src="{{cars.car_image}}"alt="">
    <div class="top-left">
<form method="POST" action="" enctype="multipart/form-data">

    {% csrf_token %}
    {{form.as_p}}
    
    <button type="submit" class="btn btn-primary">confirm</button>
</form>
</div>
<div class="top-right">
    <div class="card" style="width: 18rem;">
        <div class="card-header">
            {{cars.car_brand}} {{cars.car_model}}
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Seats:{{cars.size}}</li>
          <li class="list-group-item">Year: {{cars.year}}</li>
          <li class="list-group-item">Price: {{cars.price}}</li>
        </ul>
      </div>
      </div>
</div>




{% endblock content %}