.container{
    margin-top: 20px;
    margin-bottom: 20px;
}
.col-md-4{
    margin-bottom: 20px;
}
#all_cars{
    text-align: center;
    font-size: x-large;
}
#content{
    margin-left: 50px;
}
.containerz{
    position: relative;
    text-align: center;
  }
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
    padding: 5px;
    background-color:white;
    color: black;
    border-radius: 10px;
  }
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }

